<a href="https://colab.research.google.com/github/shp9026/govanalytics/blob/master/Copy_of_fromPythonToGit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Step one:**

Load your data:

In [1]:
import pandas as pd

linkcsv='https://docs.google.com/spreadsheets/d/e/2PACX-1vSB7CwpP8HC2D6c326vci61vYwLkKTqCwhjq6pq49R7JWhPJ9fkLvQbj9_E-ANl0c26kh0XRfSZNCZB/pub?gid=2056565750&single=true&output=csv'
#dataExcel=
gei = pd.read_csv(linkcsv)
gei

            Country  1. Opportunity Perception  ...  Institutional  Individual
0     United States                   0.863913  ...       0.929956    0.785017
1       Switzerland                   0.776207  ...       0.937859    0.714785
2            Canada                   0.980981  ...       0.833132    0.771859
3    United Kingdom                   0.809624  ...       0.893611    0.704261
4         Australia                   0.946781  ...       0.822215    0.743163
..              ...                        ...  ...            ...         ...
132          Malawi                   0.405478  ...       0.270035    0.528655
133      Bangladesh                   0.232225  ...       0.310007    0.386130
134         Burundi                   0.228068  ...       0.233363    0.565406
135      Mauritania                   0.250201  ...       0.195673    0.565406
136            Chad                   0.145695  ...       0.181045    0.565406

[137 rows x 21 columns]

**Step two:**

Clean your data:

In [6]:
#delete unnecessary rows - only leave Opportunity perception column and country column
gei.drop(gei.columns[2::],axis=1, inplace = True)

#Remove unnecessary chars and string
pattern = '\\s+|\\d+\\.'
nothing = ''
gei.columns = gei.columns.str.replace(pattern,nothing)


#remove all space in string in the Country column
gei['Country'] = gei['Country'].str.replace(' ', '')


#round the decimal places 
gei.round(decimals = 3)

           Country  OpportunityPerception
0     UnitedStates                  0.864
1      Switzerland                  0.776
2           Canada                  0.981
3    UnitedKingdom                  0.810
4        Australia                  0.947
..             ...                    ...
132         Malawi                  0.405
133     Bangladesh                  0.232
134        Burundi                  0.228
135     Mauritania                  0.250
136           Chad                  0.146

[137 rows x 2 columns]

**Step three:**

Format your data:

In [9]:
#write code her#check whether there are any non floats in the Opportunity Perception column
badSymbols=[]

for cell in gei['OpportunityPerception']:
    try:
        float(cell)
    except:
        if cell not in badSymbols:
            badSymbols.append(cell)
                
badSymbols #none are non-floats

[]

**Step five:**

Go to github and create repository for your clean and formatted data.

**Step six:**

Fill this information to clone the repo from github:

In [35]:
import os
from getpass import getpass
import urllib

user = "shp9026"
email= "shp9026@uw.edu"
locationOfRepo= "github.com/shp9026/govanalytics"
password = getpass('Password: ')

Password: ··········

**Step seven:**

Now clone repo:

In [36]:
cmd_string1 = 'git config --global user.name {0}'.format(user)
os.system(cmd_string1)

cmd_string2 = 'git config --global user.email {0}'.format(email)
os.system(cmd_string2)

password = urllib.parse.quote(password) # your password is converted into url format

cmd_string3 = 'git clone https://{0}:{1}@{2}.git'.format(user,password,locationOfRepo)

os.system(cmd_string3)

0

**Step eight:**

Change folder to save file:

In [37]:
#write name after %cd
%cd govanalytics

/root/govanalytics

**Step nine:**

Save the files (now in the cloned repo):

In [0]:
# for Python
#gei.to_pickle("assignment12.pkl")

In [43]:
## for R
from rpy2.robjects import pandas2ri
pandas2ri.activate()

from rpy2.robjects.packages import importr

base = importr('base')
base.saveRDS(gei,file="gei.RDS")
#base.saveRDS(gei,file="gei.csv")
##

rpy2.rinterface.NULL

**Step ten:**

Update repo and verify:

In [44]:
!git add .
!git commit -m 'clean data from Python in colab'  # commit in Colab
!git push origin master          # push to github

[master 50154b6] clean data from Python in colab
 2 files changed, 0 insertions(+), 0 deletions(-)
 create mode 100644 gei.RDS
 create mode 100644 gei.csv
Counting objects: 3, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (3/3), done.
Writing objects: 100% (3/3), 2.92 KiB | 2.92 MiB/s, done.
Total 3 (delta 0), reused 0 (delta 0)
To https://github.com/shp9026/govanalytics.git
   0992dc5..50154b6  master -> master